
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Sign in</h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->
<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container">
        <div class="clearfix">
            <div class="wizard-container">

                <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                    <form action="">
                        <div class="wizard-header">
                            <h3>
                                Checkout
                                <br />
                            </h3>
                        </div>
                        <ul>
                            <li><a href="#step1" data-toggle="tab">Sign in </a></li>
                            <li><a href="#step2" data-toggle="tab">Shipping Address </a></li>
                            <li><a href="#step3" data-toggle="tab">Order Summary</a></li>
                            <li><a href="#step4" data-toggle="tab">Complete Payment</a></li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane" id="step1">

                                <div class="row p-b-15  ">
                                    <h4 class="info-text">Sign in with correct account. </h4>

                                    <div class="col-md-3"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="email">
                                        </div>

                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password">
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-default"> Log in</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 1 -->

                            <div class="tab-pane" id="step2">
                                <h4 class="info-text">Add delivery Address </h4>
                                <div class="row">
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="form-group">
                                            &nbsp;  &nbsp;  &nbsp;
                                            <!-- <input name="daily" type="text" class="form-control" placeholder="">-->
                                            <input type="checkbox" id="yourBox" />
                                            <label>Use My Address</label>


                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Full Name</label>
                                                <input type="text" name="fullname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <input type="text" name="Mobile_number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Pincode</label>
                                                <input type="text" name="pincode" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Flat / House No. / Floor / Building: </label>
                                                <input type="text" name="flat" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Colony / Street / Locality:</label>
                                                <input type="text" name="colony" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Landmark: optional</label>
                                                <input type="text" name="landmark" class="form-control" placeholder="e.g. near LPU ,Phagwara-Jalandhar road">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>State: </label>
                                                <input type="text" name="colony" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label>City/Town:</label>
                                                <input type="text" name="colony" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label>Alternate Mobile no:</label>
                                                <input type="text" name="colony" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="home" name="a">   Delivery all time
                                            </label>
                                            &nbsp; &nbsp; &nbsp;
                                            <label>
                                                <input type="radio" value="office" name="a">   Delivery b/w 10am to 5pm
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <!-- End step 2 -->

                            <div class="tab-pane" id="step3">
                               
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="col-sm-4 col-sm-offset-5">
                                            <div class="picture-container">
                                                <div class="picture">
                                                    <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview" title="" />
                                                    <input type="file" id="wizard-picture">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <br />
                                        <br />
                                        <label>Product Name:</label>
                                        <br />
                                        <label>Quantity:</label>
                                        <br />
                                        <label>Rent Amount:</label>
                                        <br />
                                        <label>Expected Price:</label>
                                       
                                </div>
                               </div>
                            </div>
                            <!--  End step 3 -->


                            <div class="tab-pane" id="step4">
                                <h4 class="info-text"> Choose Your Payment Option </h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6"style="text-align:center;">
                                          <img src="~/Content/User/assets/img/paytm.png" />
                                        </div>
                                        <div class="col-sm-6"style="text-align:center;">
                                            <img src="~/Content/User/assets/img/bhim.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 4 -->

                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-primary' name='next' value='Next' />
                                <input type='button' class='btn btn-finish btn-primary ' name='finish' value='Finish' />
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <!-- End submit form -->
            </div>
        </div>
    </div>
</div>


