@model RentAdminPannel.tbl_category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Category and SubCategory</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Category : </span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#new" data-toggle="tab">
                                    <i class="material-icons">open_in_new</i> Create New Category
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="new">
                        <div class="col-md-12 container-fluid" >
                            
                                <div class="card-content">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Category Name</label>
                                                    <input type="text" id="categoryname" required name="categoryname" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Category Description</label>
                                                    <input type="text" id="categorydescription" required name="categorydescription" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
